<footer class="container text-center mt-auto">
    <p class="text-muted">
        <small>
            &copy; Copyright {{ 'now'|date('Y') }} &middot;
            Alerte Vergers by <a href="#">Vas Nanciaco Creation</a>
        </small>
    </p>
</footer>